.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  padding: 20px;
}

.App-title {
  font-size: 1.4em;
}

.App-body-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.App-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-feel-button-container {
  display: flex;
  width: 300px;
  margin: auto;
  justify-content: space-around;
}
