.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: auto;
  width: 1000px;
}

.select-emotions-container {
  display: flex;
  flex-flow: row;
  height: 500px;
}

.select-emotions-column {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}

.select-emotions-row {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.action-container {
  display: flex;
  justify-content: space-between;
  margin: 0 5em;
}

