@import "styles/App.scss";
@import "styles/FeelButton.scss";
@import "styles/NavButton.scss";
@import "styles/SelectEmotions.scss";
@import "styles/SubmitEmotions.scss";

html {
  background-color: #FBB03B;
}

footer {
  background-image: url("./bottom.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 15em;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
